<template>
  <li class="nav-dropdown px-2">
    <button class="switch-btn mr-0">
      <span class="text-caps">{{ locale.toLocaleUpperCase() }}</span>
    </button>
    <div
      class="sub-nav lang-opts p-[10px] rounded left-0"
      :class="theme.darkTheme ? 'text-white bg-gray-800' : 'bg-white'"
    >
      <nuxt-link
        v-for="lang in langs"
        :key="lang.code"
        :to="switchLocalePath(`${lang.code}`)"
        class=""
      >
        <span class="text-caps">{{ lang.code.toLocaleUpperCase() }}</span>
      </nuxt-link>
    </div>
  </li>
</template>

<script setup>
import { useThemeStore } from '~/store/global'

const { locales, locale } = useI18n()
const switchLocalePath = useSwitchLocalePath()

const theme = useThemeStore()

const langs = computed(() => {
  return locales.value.filter(i => i.code !== locale.value)
})
</script>

<style lang="scss" scoped>
.nav-dropdown {
  position: relative;
  &:hover {
    .lang-opts {
      opacity: 1;
      max-height: 500px;
      pointer-events: all;
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
  }
}

.lang-opts {
  opacity: 0;
  position: absolute;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.18);

  &:hover {
    color: rgb(21 128 61 / 1);
  }
}

.site-header--transparent {
  box-shadow: none;
  .dropdown {
    // background-color: white;
    color: #fff;
  }
}
</style>
