<template>
  <main id="main" role="main" class="site-main">
    <div class="container">
      <UtilsBreadCrumbs />
      <h1>{{ $t('service') }}</h1>
    </div>
  </main>
</template>

<script setup>
defineI18nRoute({
  paths: {
    id: '/layanan',
    en: '/services'
  }
})
</script>

<style lang="scss" scoped></style>
