<template>
  <main id="main" role="main" class="site-main">
    <div class="container">
      <UtilsBreadCrumbs />
      <h1>{{ $t('news') }}</h1>
      <UtilsSocialShare />
    </div>
  </main>
</template>

<script setup>
defineI18nRoute({
  paths: {
    id: '/berita',
    en: '/news'
  }
})
</script>

<style lang="scss" scoped></style>
