<!-- eslint-disable no-console -->
<template>
  <main id="main" role="main" class="site-main">
    <div class="container">
      <h1>
        {{ $t('contactUs') }}
      </h1>
      <form role="form" @submit.prevent="submitForm">
        <div class="mb-4">
          <label class="block mr-4" for="firstName">First name:</label>
          <input
            id="firstName"
            v-model.trim="formData.firstName"
            type="text"
            class="border-grey-400 border rounded px-4 py-2"
            :class="{ 'border-red-600': v$.firstName.$error }"
            autocomplete="off"
            @blur="v$.firstName.$touch()"
          />
          <div
            v-for="error in v$.firstName.$errors"
            :key="error.$uid"
            class="input-errors"
          >
            <div class="text-red-600 text-sm">{{ error.$message }}</div>
          </div>
        </div>
        <div class="mb-4">
          <label class="block mr-4" for="lastName">Last name:</label>
          <input
            id="lastName"
            v-model.trim="formData.lastName"
            type="text"
            class="border-grey-400 border rounded px-4 py-2"
            autocomplete="off"
            @blur="v$.lastName.$touch()"
          />
          <div
            v-for="error in v$.lastName.$errors"
            :key="error.$uid"
            class="input-errors"
          >
            <div class="text-red-600 text-sm">{{ error.$message }}</div>
          </div>
        </div>
        <div class="mb-4">
          <label class="block mr-4" for="yourEmail">Email:</label>
          <input
            id="yourEmail"
            v-model.trim="formData.email"
            type="email"
            class="border-grey-400 border rounded px-4 py-2"
            @blur="v$.email.$touch()"
          />
          <div
            v-for="error in v$.email.$errors"
            :key="error.$uid"
            class="input-errors"
          >
            <div class="text-red-600 text-sm">{{ error.$message }}</div>
          </div>
        </div>
        <button
          class="bg-green-700 text-white hover:bg-green-900 px-4 py-2 rounded disabled:opacity-40"
          type="submit"
          :disabled="v$.$invalid"
        >
          Send
        </button>
      </form>
    </div>
  </main>
</template>

<script setup>
import { useVuelidate } from '@vuelidate/core'
import { required, email, minLength, maxLength } from '@vuelidate/validators'
const { executeRecaptcha } = useGoogleRecaptcha()

// const { locale } = useI18n()

// i18n
defineI18nRoute({
  paths: {
    id: '/kontak-kami',
    en: '/contact-us'
  }
})
// i18n

// VUELIDATE
const formData = ref({
  firstName: '',
  lastName: '',
  email: ''
})
const rules = {
  firstName: { required, minLength: minLength(4), maxLength: maxLength(256) }, // Matches state.firstName
  lastName: { required, minLength: minLength(4), maxLength: maxLength(256) }, // Matches state.lastName
  email: { required, email, minLength: minLength(7), maxLength: maxLength(256) } // Matches state.contact.email
}

const v$ = useVuelidate(rules, formData)
// VUELIDATE

const submitForm = async values => {
  // await recaptchaInstance?.recaptchaLoaded()
  // const token = await recaptchaInstance?.executeRecaptcha('submit')
  // values.googleReCaptchaToken = token
  // console.log({ token })
  // console.log('Google recaptChaToken: ', values.googleReCaptchaToken)

  const { token } = await executeRecaptcha('submit')
  console.log(token)
}
</script>

<style lang="scss" scoped></style>
