<template>
  <main id="main" role="main" class="site-main">
    <div class="container">
      <h1>Home, {{ $t('welcome') }}</h1>

      <UtilsModal class="mt-8" />

      <!-- DatePicker Examples -->
      <ExampleDatePickerEx />

      <!-- Swiper Example -->
      <ExampleSwiperEx />
      <ExampleSwiperDiagonalEx />

      <!-- Vue Social Sharing Example -->
      <div class="my-10">
        <h1>Social Sharing Example</h1>
        <UtilsSocialShare />
      </div>

      <!-- Vue Select Examples -->
      <ExampleVueSelectEx />

      <!-- Vue Chartjs Example -->
      <ExampleVueChartjs />
    </div>
  </main>
</template>

<script setup>
import { useThemeStore } from '~/store/global'

const theme = useThemeStore()

useHead({
  title: 'Suit Baze Nuxt 3'
})

const expires = new Date()
expires.setTime(expires.getTime() + 1000 * 60 * 60 * 24) // 1 Day

theme.darkTheme = useCookie('theme', {
  default: () => false,
  expires
})

/*
JSONLD
*/
let breadcrumbs = ref([])

breadcrumbs = [
  {
    url: 'https://example.com',
    text: 'top page'
  },
  {
    url: 'https://example.com/foo',
    text: 'foo'
  },
  {
    url: 'https://example.com/foo/bar',
    text: 'bar'
  }
]

const items = breadcrumbs.map((item, index) => ({
  '@type': 'ListItem',
  position: index + 1,
  item: {
    '@id': item.url,
    name: item.text
  }
}))

useJsonld({
  '@context': 'https://schema.org',
  '@type': 'BreadcrumbList',
  name: 'static json',
  itemListElement: items
})

useJsonld({
  '@type': 'LocalBusiness',
  name: 'Suitmedia',
  url: 'suitmedia.com',
  email: 'contact(at)suitmedia.com',
  telephone: '+62 21 719 6877',
  legalName: 'PT Suitmedia Kreasi Indonesia',
  location: 'Jakarta, Bandung, Yogyakarta, Singapore',
  description: 'Digital Agency Indonesia',
  address: {
    '@type': 'PostalAddress',
    addressLocality: 'Jakarta, Indonesia',
    postalCode: '12510',
    streetAddress: 'Jl. Pejaten Barat II No. 3A'
  }
})

/*
JSONLD
*/
</script>
